# Auto detect text files and perform LF normalization
* text=auto
# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
*.rb linguist-language=PHP

# Replace any whitespace in the language name with hyphens:
*.glyphs linguist-language=OpenStep-Property-List

# Language names are case-insensitive and may be specified using an alias.
# So, the following three lines are all functionally equivalent:
*.es linguist-language=php
*.es linguist-language=PHP
*.es linguist-language=PHP